<header>
	<hgroup>
		<h1>Un sistema de cuentas instántaneo y sencillo.</h1>
		<h3>Desarrolle aplicaciones web y use la información de sus usuarios de forma más rápida y segura.</h3>
	</hgroup>

	<div class="description">
		<p>
			Con la API de %SITE_NAME% podrá desarrollar aplicaciones web y obtener la información de sus usuarios sin formularios, código complicado o preocuparse por la seguridad de la misma.
		</p>

		<p>
			Sus usuarios podrán registrarse en %SITE_NAME% con su cuenta de Facebook, Twitter o Steam a nombre de su aplicación, de esta forma tendrá el acceso y control a las herramientas de estadística de cada servicio.
		</p>

		<div class="btns">
			<a href="%PATH%/dev/apps" class="ibtn ibig">Use ahora la BETA</a>
		</div>
	</div>

	<figure>
		<img src="%RESOURCES%/images/dev/about.png" />
	</figure>
</header>