<div class="content">
	<section class="min-desc">
		<h3>Empieza tu aventura por InfoSmart</h3>

		<p>
			Con %SITE_NAME% puedes administrar y usar tu información en cualquiera de nuestras aplicaciones.
		</p>
	</section>

	<section>
		<form action="%PATH%/actions/login" method="POST" class="login-form">
			<input type="hidden" name="return" value="{$G.return}" />

				<div class="center">
					<p class="inp">
						<label>Identificación:</label>
						<input type="text" name="id" value="{$loginId}" placeholder="Correo electrónico, nombre de usuario o número de teléfono" required spellcheck="false" {$field_id} />

						<? if($error['field'] == 'id') { ?>
						<span class="herror block">{$error.message}</span>
						<? } ?>
					</p>

					<p class="inp">
						<label>Contraseña:</label>
						<input type="password" name="password" value="" required {$field_password} />

						<? if($error['field'] == 'password') { ?>
						<span class="herror block">{$error.message}</span>
						<? } ?>
					</p>
				</div>

				<p style="margin-left: 4%">
					<input type="checkbox" name="remember" value="true" /> No cerrar sesión
				</p>

				<input type="file" name="photo_access" id="photo_access" accept="image/png,image/jpeg,image/gif" />

				<div class="btns">
					<button class="ibtn igiant">Acceder</button>

					<a class="ibtn iblue igiant" id="access_photo">Acceder con una imagen</a>
				</div>
		</form>
	</section>
</div>
</div>

<section class="graybg">
	<div class="social">
		<a class="fb">con Facebook</a>
		<a class="tw">con Twitter</a>
		<a class="steam">con Steam</a>
	</div>

	<div class="other">
		<a href="%PATH%/connect/forgot">¿Has olvidado tu contraseña?</a>
		<a href="%PATH%/connect/register" class="ibtn ired">¿Sin cuenta? ¡Registrate!</a>
	</div>
</section> 

<div class="wrap">
<div class="content">
	<div class="features">
		<section>
			<figure>
				<img src="%RESOURCES%/images/pre/screen.accounts.popups.png" alt="Acceso rápido y seguro" />
			</figure>

			<div class="description">
				<span class="title">Acceso rápido y seguro.</span>

				<p>
					¿Para que tener una cuenta en cada una de nuestras aplicaciones?
				</p>

				<p>
				 	Con tu cuenta podrás acceder a todas nuestras herramientas con un solo clic o incluso de forma automática, sin hacer nada ya estarás dentro.
				</p>
			</div>
		</section>

		<section>
			<figure>
				<img src="%RESOURCES%/images/pre/mouse.png" alt="" />
			</figure>

			<div class="description">
				<span class="title">Tu controlas tu información.</span>

				<p>
					Con tu cuenta también obtendrás un perfil público, podrás controlar tu información en todo momento incluyendo la privacidad de ella.
				</p>

				<p>
					¿No te gusta el perfil? Podrás desactivarlo en cualquier momento o personalizarlo con un dominio propio.
				</p>
			</div>
		</section>
	</div>

	<!--
	<div class="col2 resize" data-parent=".content">
		<section>
			
			<div class="box-error">
			</div>

			<form action="%PATH%/actions/login" method="POST" class="login-form">
				<p>
					<label>Identificación:</label>
					<input type="text" name="id" value="{$loginId}" placeholder="Correo electrónico, nombre de usuario o número de teléfono" required spellcheck="false" {$field_id} />

					<? if($error['field'] == 'id') { ?>
					<span class="herror block">{$error.message}</span>
					<? } ?>
				</p>

				<p>
					<label>Contraseña:</label>
					<input type="password" name="password" value="" required {$field_password} />

					<? if($error['field'] == 'password') { ?>
					<span class="herror block">{$error.message}</span>
					<? } ?>
				</p>

				<p>
					<input type="checkbox" name="remember" value="true" /> No cerrar sesión
				</p>

				<input type="file" name="photo_access" id="photo_access" accept="image/png,image/jpeg,image/gif" />

				<p>
					<button class="ibtn left">Acceder</button>

					<a class="ibtn right igreen ismall" id="access_photo">Acceder con una imagen</a>
				</p>
			</form>
		</section>

		<section>
			<p class="center">
				<a href="%PATH%/connect/forgot">¿Has olvidado tu contraseña?</a>
			</p>
		</section>

		<section>
			<div role="menu">
				<div class="bx" role="button">O accede/registrate con...</div>

				<nav role="listbox" id="social_login">
					<li role="option" onclick="document.location = '%PATH%/actions/login.social.php?type=facebook';"><img src="http://tools.infosmart.mx/to/favicon?url=http://www.facebook.com/" /> Facebook</li>
					<li role="option" onclick="document.location = '%PATH%/actions/login.social.php?type=twitter';"><img src="http://tools.infosmart.mx/to/favicon?url=http://twitter.com/" /> Twitter</li>
					<li role="option"  onclick="document.location = '%PATH%/actions/login.social.php?type=steam';"><img src="http://tools.infosmart.mx/to/favicon?url=http://store.steampowered.com/" /> Steam</li>
				</nav>
			</div>
		</section>

		<section class="center">
			<h5>¿Aún no tienes una cuenta?</h5>

			<a href="%PATH%/register" class="ibtn iblue">¡Registrate! Es gratis</a>
		</section>
	</div>
-->
</div>